<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>adMingle</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody>
<tr>
	<td>
		<table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="border:0px;border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #cccccc;background-color:#ffffff">
		<tbody>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#f2f2f2">
				<tbody>
				<tr>
					<td colspan="3" rowspan="2" style="width:19px;min-height:77px; text-align:center">
						<img src="http://www.admingle.com/site/layout/images/mail/adMingle.png" width="50" height="42"/>
					</td>
					<td width="100%" height="94" style="padding-left:10px;padding-right:10px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#333333">
						<span style="font-size:16px;line-height:16px;font-weight:bold;color:#000000">Günlük ödeme raporu</span>
					</td>
					<td width="32" style="text-align:right;padding-right:10px">
						&nbsp;
					</td>
					<td style="background-color:#f2f2f2;width:75px">
					</td>
				</tr>
				</tbody>
				</table>
			</td>
			<td rowspan="3">
			</td>
		</tr>
		<tr>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff">
				<tbody>
				<tr>
					<td style="width:75px">
					</td>
					<td width="520">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tbody>
						<tr>
							<td height="22">
							</td>
						</tr>
						<tr>
							<td align="center">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td height="22">
							</td>
						</tr>
						<tr>
							<td height="15" style="color:#777777;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-bottom:10px">
							<F3:check if="{{ count(@cashFlows) }}">
								<F3:true>
								<table border="1" cellpadding="1" cellspacing="1" width="100%" style="width:100%">
									<thead>
										<tr>
											<th>Firma<br>Yetkili<br>Telefon</th>
											<th>Marka</th>
											<th>Kampanya Adı</th>
											<th>Kampanya Tarihi</th>
											<th>Tutar</th>
											<th>Ödeme Tarihi</th>
											<th>Satış Temsilcisi</th>
											<th>Not</th>
											<th>Kalan Gün</th>
										</tr>
									</thead>
									<tbody>
										<F3:repeat value="{{ @cashFlow }}" group="{{ @cashFlows }}">
										<tr class="gradeA">
											<td>{{ @cashFlow.company}}</td>
											<td>{{ @cashFlow.brand}}</td>
											<td>{{ @cashFlow.campaign}}</td>
											<td>{{ date('d.m.Y',strtotime(@cashFlow.campDate))}}</td>
											<td>{{ @cashFlow.campCost}} TL</td>
											<td>{{ date('d.m.Y',strtotime(@cashFlow.dueDate))}}</td>
											<td>{{ @cashFlow.responsible}}</td>
											<td>{{ @cashFlow.notes}}</td>
											<td>{{ @cashFlow.dateLeft}}</td>
										</tr>
										</F3:repeat>
									</tbody>
								</table>
								</F3:true>
								<F3:false>
									<p>Yaklaşan veya bugün için beklenen bir ödeme bulunmamaktadır.</p>
								</F3:false>
							</F3:check>
							</td>
						</tr>
						<tr>
							<td height="22">
							</td>
						</tr>
						<tr>
							<td align="center">
								&nbsp;
							</td>
						</tr>
						</tbody>
						</table>
					</td>
					<td style="width:75px">
					</td>
				</tr>
				</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#eeeeee; border-top-color:#dddddd;border-top-style:solid;border-top-width:1px; border-bottom-color:#dddddd;border-bottom-style:solid;border-bottom-width:1px">
				<tbody>
				<tr>
					<td colspan="4" height="28">
					</td>
				</tr>
				<tr>
					<td style="width:75px">
					</td>
					<td>
					</td>
					<td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:17px;color:#777;text-align:center;text-shadow:0 1px 0 #ffffff">
						<img src="http://www.admingle.com/site/layout/images/mail/admingle_signature.png" width="200" align="center" height="59"/>
					</td>
					<td style="width:75px">
					</td>
				</tr>
				<tr>
					<td style="width:75px">
					</td>
					<td>
					</td>
					<td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:17px;color:#777;text-shadow:0 1px 0 #ffffff">
						&nbsp;
					</td>
					<td style="width:75px">
					</td>
				</tr>
				<tr>
					<td colspan="3" height="25">
					</td>
				</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
</body>
</html>