			<div class="g12 widgets">
				<div class="widget" id="newfirm" data-icon="calendar">
					<h3 class="handle">
						<F3:check if="{{ @PARAMS.cid == '0'}}">
							<F3:true>Yeni Kişi Ekle</F3:true>
							<F3:false>Kişi Bilgilerini Düzenle</F3:false>
						</F3:check>
					</h3>
					<div>
						<form action="{{ @BASE }}/saveContact" method="post" id="formFirmAdd"  data-ajax="false" enctype="multipart/form-data" >
							<input type="hidden" id="contactID" name="ID" value="{{ @PARAMS.cid }}">
							<fieldset>
								<section>
									<label for="customer_type">Firma</label>
									<div>
										<select name="account" id="companies">
											<option/>Seçin</option>
											<F3:repeat value="{{ @customer }}" group="{{ @customers2 }}">
												<option value="{{ @customer.ID }}" <F3:check if="{{ @customer.ID == @contact->account }}">selected</F3:check> />{{ @customer.name }}</option>
											</F3:repeat>
										</select>
									</div>
								</section>
								<section><label for="text_field">Ad :</label>
									<div><input type="text" id="text_field" name="name" required value="{{ @contact->name }}"></div>
								</section>
								<section><label for="text_field">Soyad :</label>
									<div><input type="text" id="text_field" name="surname" required value="{{ @contact->surname }}"></div>
								</section>
								<section><label for="text_field">E-mail :</label>
									<div><input type="text" id="text_field" name="email" required value="{{ @contact->email }}"></div>
								</section>
								<section><label for="dateOfBirth">Doğum Tarihi</label>
									<div><input id="date" name="dateOfBirth" type="text" class="date" value="{{ @contact->dateOfBirth }}"></div>
								</section>
								<section><label for="text_field">Telefon :</label>
									<div><input type="text" placeholder="902122232323" id="text_field" name="phone" value="{{ @contact->phone }}"></div>
								</section>
								<section><label for="text_field">GSM :</label>
									<div><input type="text" placeholder="905075075071" id="text_field" name="mobile" value="{{ @contact->mobile }}"></div>
								</section>
								<section><label for="text_field">Asistan :</label>
									<div><input type="text" id="text_field" name="assistant" value="{{ @contact->assistant }}"></div>
								</section>
								<section><label for="text_field">Asistan Telefon :</label>
									<div><input type="text" placeholder="902122232323" id="text_field" name="assistantPhone" value="{{ @contact->assistantPhone }}"></div>
								</section>
								<section><label for="text_field">Title :</label>
									<div><input type="text" id="text_field" placeholder="Internal Account Manager" name="title" required value="{{ @contact->title }}"></div>
								</section>
								<section><label for="text_field">Departman :</label>
									<div><input type="text" id="text_field" placeholder="Tasarim" name="department" required value="{{ @contact->department }}"></div>
								</section>
								<section><label for="text_field">Skype :</label>
									<div><input type="text" id="text_field" placeholder="armanacar" name="skype" value="{{ @contact->skype }}"></div>
								</section>
								<section><label for="text_field">Gtalk :</label>
									<div><input type="text" id="text_field" placeholder="arman@armanacar.com" name="gtalk" value="{{ @contact->gtalk }}"></div>
								</section>
								<section><label for="text_field">Linkedin :</label>
									<div><input type="text" id="text_field" placeholder="http://linkedin.com/in/rmncr" name="linkedin" value="{{ @contact->linkedin }}"></div>
								</section>
								<section><label for="text_field">Facebook :</label>
									<div><input type="text" id="text_field" placeholder="http://facebook.com/rmncr" name="facebook" value="{{ @contact->facebook }}"></div>
								</section>
								<section><label for="text_field">Twitter :</label>
									<div><input type="text" id="text_field" placeholder="@rmncr" name="twitter" value="{{ @contact->twitter }}"></div>
								</section>
								<section><label for="text_field">Adres :</label>
									<div><input type="text" id="text_field" name="address" value="{{ @contact->address }}"></div>
								</section>
								<section>
									<label for="customer_type">Şehir</label>
									<div>
										<select name="city" id="cities">
											<option/>Seçin</option>
											<F3:repeat value="{{ @city }}" group="{{ @cities }}">
												<option value="{{ @city.ID }}" <F3:check if="{{ @city.ID == @contact->city }}">selected</F3:check> />{{ @city.name }}</option>
											</F3:repeat>
										</select>
									</div>
								</section>

									<section>
									<label for="customer_type">Ülke</label>
									<div>
										<select name="country" id="countries">
											<option/>Seçin</option>
											<F3:repeat value="{{ @country }}" group="{{ @countries }}">
												<option value="{{ @country.id }}" <F3:check if="{{ @country.id == @contact->country }}">selected</F3:check> />{{ @country.country }}</option>
											</F3:repeat>
										</select>
									</div>
								</section>
								<section><label for="file_upload">Fotograf<br><span>Varsa kişinin fotoğrafı</span></label>
									<div>
										<F3:check if="{{ @PARAMS.cid != '0' && @contact->file != ''}}">
											<p class="j">
												<img src="{{ @BASE }}/photo/{{ @contact->file }}" height="100px" border="0" />
											</p>
										</F3:check>
										<input type="file" id="file_upload" name="file_upload" data-auto-upload="false" multiple data-allowed-extensions="[jpg,jpeg,gif,png]" data-max-file-size="10000000">
									</div>
								</section>
								<section>
									<div><button class="newCustomerType submit" name="submitbuttonname" value="submitbuttonvalue">Ekle</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>
			</div>