			<script type="text/javascript">
				$(document).ready(function(){
					$("#frmAddCustomerType").submit(function(){
						$.ajax({
							type: "POST",
							url: "{{ @BASE }}/saveCustomerType",
							data: $(this).serialize(),
							dataType: "json",
							success:function(data){
								if (data.error != 0){
									alert("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
								} else {
									alert("Firma tipi eklendi.");
									$("#customerTypeName").val('');
								}
							}
						});
						return false;
					});
				});
			</script>
			<div class="g12 widgets">
				<div class="widget" id="sector" data-icon="calendar">
					<h3 class="handle">Yeni Firma Tipi Ekle</h3>
					<div>
						<form action="{{ @BASE }}/saveCustomerType" method="post" id="frmAddCustomerType"  data-ajax="false">
							<fieldset>
								<section><label for="text_field">Firma Tipi:</label>
									<div><input type="text" id="customerTypeName" name="name"></div>
								</section>
								<section>
									<div><button class="newCustomerSector submit" name="submitbuttonname" value="submitbuttonvalue">Ekle</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>
			</div>