			<script type="text/javascript">
				$(document).ready(function(){
					$("#frmAddCashFlow").submit(function(){
						$.ajax({
							type: "POST",
							url: "{{ @BASE }}/saveCashFlow",
							data: $(this).serialize(),
							dataType: "json",
							success:function(data){
								if (data.error != 0){
									alert("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
								} else {
									if ($("#cashFlowID").val() == 0){
										alert("Nakit akışı eklendi.");
										location.href = "{{ @BASE }}/editCashFlow/" + data.cid;
									} else {
										$.msg("Nakit akışı güncellendi.");
										location.reload();
									}
								}
							}
						});
						return false;
					});
					$("#companyID").change(function(){
						if ($(this).val().length > 0){
							var o = $("#companyID option:selected");
							if (o.attr("ac")=="Y"){
								$.ajax({
									type: "POST",
									url: "{{ @BASE }}/getCompanyBrands",
									data: {cid: $("#companyID").val()},
									dataType: "json",
									success:function(data){
										$("#brandID option").remove();
										$.each(data.brands,function(i,c){
											$("#brandID").append('<option value="' + c.id + '">' + c.title + '</option>');
										});
										$("#brandID").val($("#brandID").attr("val"));
										$("#brandID").trigger("change");
									}
								});
								$("input#ac").val("Y");
							} else {
								$("input#ac").val("N");
								$("#brandID").val($("#brandID").attr("val"));
								$("#brandID").trigger("change");
							}
							$("#companyResponsible").val(o.attr("responsible"));
							$("#responsiblePhone").val(o.attr("phone"));
						}
					});
					$("#brandID").change(function(){
						if ($(this).val() == -1){
							$(".sOtherBrand").fadeIn();
							$("#campaignID").val($("#campaignID").attr("val"));
							$("#campaignID").trigger("change");
						} else {
							$(".sOtherBrand").fadeOut();
							$.ajax({
								type: "POST",
								url: "{{ @BASE }}/getBrandCampaigns",
								data: {bid: $("#brandID").val()},
								dataType: "json",
								success:function(data){
									$("#campaignID option").remove();
									$.each(data.campaigns,function(i,c){
										$("#campaignID").append('<option value="' + c.id + '" date="' + c.date + '" cost="' + c.cost + '">' + c.title + '</option>');
									});
									$("#campaignID").val($("#campaignID").attr("val"));
									$("#campaignID").trigger("change");
								}
							});
						}
					});
					$("#campaignID").change(function(){
						if ($(this).val().length > 0 && $(this).val() != -1){
							$("#campDate").val($("#campaignID option:selected").attr("date"));
							$("#campCost").val($("#campaignID option:selected").attr("cost"));
						}
						if ($(this).val() == -1){
							$(".sOtherCampaign").fadeIn();
						} else {
							$(".sOtherCampaign").fadeOut();
						}
					});
					$("#companyID").trigger("change");
					//$("#brandID").trigger("change");
					//$("#campaignID").trigger("change");
				});
			</script>
			<div class="g12 widgets">
				<div class="widget" id="cashflow" data-icon="money">
					<h3 class="handle">Nakit Akışı <F3:check if="{{ @cashFlow->ID == null }}"><F3:true>Ekleme</F3:true><F3:false>Güncelleme</F3:false></F3:check></h3>
					<div>
						<form action="#" method="post" id="frmAddCashFlow"  data-ajax="false">
							<input type="hidden" id="cashFlowID" name="id" value="{{ @cashFlow->id }}">
							<input type="hidden" id="ac" name="ac" value="{{ @cashFlow->ac }}">
							<fieldset>
								<section><label for="text_field">Şirket</label>
									<div>
										<select name="companyID" id="companyID" required>
											<option value="">Seçin</option>
											<F3:repeat value="{{ @company }}" group="{{ @companies }}">
												<option value="{{ @company.id }}" responsible="{{ @company.responsible }}" phone="{{ @company.phone }}" ac="{{ @company.ac }}" <F3:check if="{{ @company.id == @cashFlow->companyID && @company.ac == @cashFlow->ac }}">selected</F3:check> />{{ @company.ac == "Y" ? "[adMingle]" : "" }} {{ @company.title }}</option>
											</F3:repeat>
											<option value="-1" {{ @cashFlow->companyID == -1 ? "checked" : "" }}>Diğer</option>
										</select>
									</div>
								</section>
								<section><label for="text_field">Marka:</label>
									<div>
										<select name="brandID" id="brandID" val="{{ @cashFlow->brandID }}" required>
											<option value="">Seçin</option>
											<option value="-1" {{ @cashFlow->brandID == -1 ? "checked" : "" }}>Diğer</option>
										</select>
									</div>
								</section>
								<section class="sOtherBrand">
									<label for="text_field">Diğer Marka :</label>
									<div><input type="text" id="otherBrand" name="otherBrand" value="{{ @cashFlow->otherBrand }}"></div>
								</section>
								<section><label for="text_field">Kampanya</label>
									<div>
										<select name="campaignID" id="campaignID" val="{{ @cashFlow->campaignID }}" required>
											<option value="">Seçin</option>
											<option value="-1" {{ @cashFlow->campaignID == -1 ? "checked" : "" }}>Diğer</option>
										</select>
									</div>
								</section>
								<section class="sOtherCampaign">
									<label for="text_field">Diğer Kampanya :</label>
									<div><input type="text" id="otherCampaign" name="otherCampaign" value="{{ @cashFlow->otherCampaign }}"></div>
								</section>
								<section>
									<label for="text_field">Şirket Yetkilisi :</label>
									<div><input type="text" id="companyResponsible" name="companyResponsible" value="{{ @cashFlow->companyResponsible }}"></div>
								</section>
								<section>
									<label for="text_field">Yetkili Telefonu :</label>
									<div><input type="text" id="responsiblePhone" name="responsiblePhone" value="{{ @cashFlow->responsiblePhone }}"></div>
								</section>
								<section><label for="text_field">Kampanya Tarihi :</label>
									<div>
										<input id="campDate" name="campDate" type="text" class="date" value="{{ @cashFlow->campDate }}" required>
									</div>
								</section>
								<section><label for="text_field">Ödeme Tutarı (TL) :</label>
									<div>
										<input id="campCost" name="campCost" type="number" class="decimal" value="{{ @cashFlow->campCost }}" required>
									</div>
								</section>
								<section><label for="text_field">Ödeme Tarihi :</label>
									<div>
										<input id="dueDate" name="dueDate" type="text" class="date" value="{{ @cashFlow->dueDate }}" required>
									</div>
								</section>
								<section><label for="text_field">Müşteri Temsilcisi:</label>
									<div>
										<select name="memberID" id="memberID" required>
											<option value="">Seçin</option>
											<F3:repeat value="{{ @member }}" group="{{ @members }}">
												<option value="{{ @member.id }}" <F3:check if="{{ @member.id == @cashFlow->memberID }}">selected</F3:check> />{{ @member.name }} {{ @member.surname }}</option>
											</F3:repeat>
										</select>
									</div>
								</section>
								<section>
									<label for="text_field">Not :</label>
									<div><input type="text" id="notes" name="notes" value="{{ @cashFlow->notes }}"></div>
								</section>
								<section>
									<div><button class="btn-edit-customer submit green" name="submitbuttonname" value="submitbuttonvalue">Kaydet</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>
			</div>