			<script type="text/javascript">
				$(document).ready(function(){
					$("#frmAddCustomer").submit(function(){
						$.ajax({
							type: "POST",
							url: "{{ @BASE }}/saveCustomer",
							data: $(this).serialize(),
							dataType: "json",
							success:function(data){
								if (data.error != 0){
									alert("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
								} else {
									if ($("#customerID").val() == 0){
										alert("Firma eklendi.");
										location.href = "{{ @BASE }}/customerDetail/" + data.newCustomerID;
									} else {
										alert("Firma güncellendi.");
										location.href = "{{ @BASE }}/customerDetail/" + $("#customerID").val();
									}
								}
							}
						});
						return false;
					});
				});
			</script>
			<div class="g12 widgets">
				<div class="widget" id="newfirm" data-icon="calendar">
					<h3 class="handle">Firma <F3:check if="{{ @customer->ID == null }}"><F3:true>Ekleme</F3:true><F3:false>Güncelleme</F3:false></F3:check></h3>
					<div>
						<form action="#" method="post" id="frmAddCustomer"  data-ajax="false">
							<input type="hidden" id="customerID" name="ID" value="{{ @customer->ID }}">
							<fieldset>
								<section><label for="text_field">Firma :</label>
									<div><input type="text" id="text_field" name="name" value="{{ @customer->name }}"></div>
								</section>
								<section><label for="text_field">Yetkili Kişi :</label>
									<div><input type="text" id="text_field" name="responsiblehead"  value="{{ @customer->responsiblehead }}"></div>
								</section>
								<section><label for="text_field">Müşteri Temsilcisi:</label>
									<div>
										<select name="memberID" id="memberID">
											<option value="">Seçin</option>
											<F3:repeat value="{{ @member }}" group="{{ @members }}">
												<option value="{{ @member.id }}" <F3:check if="{{ @member.id == @customer->memberID }}">selected</F3:check> />{{ @member.name }} {{ @member.surname }}</option>
											</F3:repeat>
										</select>
									</div>
								</section>
								<section><label for="text_field">Adres :</label>
									<div><input type="text" id="text_field" value="{{ @customer->location }}"  name="location"></div>
								</section>
								<section>
									<label for="customer_type">Şehir</label>
									<div>
										<select name="city" id="cities">
											<option value="">Seçin</option>
											<F3:repeat value="{{ @city }}" group="{{ @cities }}">
												<option value="{{ @city.ID }}" <F3:check if="{{ @city.ID == @customer->city }}">selected</F3:check> />{{ @city.name }}</option>
											</F3:repeat>
										</select>
									</div>
								</section>
								<section><label for="text_field">Telefon :</label>
									<div><input type="text" value="{{ @customer->phone }}" id="text_field" name="phone"></div>
								</section>
								<section><label for="text_field">GSM :</label>
									<div><input type="text" value="{{ @customer->gsm }}" id="text_field" name="gsm"></div>
								</section>
									<section>
										<label for="customer_sector">Sektör</label>
										<div>
											<select name="sectorID" id="sectorsFirm">
												<option value="">Seçin</option>
												<F3:repeat value="{{ @sector }}" group="{{ @sectors }}">
													<option value="{{ @sector.id }}" <F3:check if="{{ @sector.id == @customer->sectorID }}">selected</F3:check> />{{ @sector.name }}</option>
												</F3:repeat>
											</select>
										</div>
									</section>
									<section>
										<label for="customer_type">Tip</label>
										<div>
											<select name="type" id="typesFirm">
												<option value="">Seçin</option>
												<F3:repeat value="{{ @customerType }}" group="{{ @customerTypes }}">
													<option value="{{ @customerType.ID }}" <F3:check if="{{ @customerType.ID == @customer->type }}">selected</F3:check> />{{ @customerType.name }}</option>
												</F3:repeat>
											</select>
										</div>
									</section>
								<section>
									<div><button class="btn-edit-customer submit green" name="submitbuttonname" value="submitbuttonvalue">Kaydet</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>
			</div>