			<script type="text/javascript">
				$(document).ready(function(){
					$("#frmAddProduct").submit(function(){
						$.ajax({
							type: "POST",
							url: "{{ @BASE }}/saveProduct",
							data: $(this).serialize(),
							dataType: "json",
							success:function(data){
								if (data.error != 0){
									alert("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
								} else {
									if ($("#productID").val() == 0){
										alert("Ürün eklendi.");
									} else {
										alert("Ürün güncellendi.");
									}
									location.href = "{{ @BASE }}/allProducts";
								}
							}
						});
						return false;
					});
				});
			</script>
			<div class="g12 widgets">
				<div class="widget" id="newfirm" data-icon="calendar">
					<h3 class="handle">Ürün <F3:check if="{{ @product->ID == null }}"><F3:true>Ekleme</F3:true><F3:false>Güncelleme</F3:false></F3:check></h3>
					<div>
						<form action="#" method="post" id="frmAddProduct"  data-ajax="false">
							<input type="hidden" id="productID" name="ID" value="{{ @product->ID }}">
							<fieldset>
								<section><label for="text_field">Ürün İsmi :</label>
									<div><input type="text" id="text_field" name="product_name" value="{{ @product->product_name }}"></div>
								</section>
								<section><label for="text_field">Fiyat :</label>
									<div><input type="text" id="text_field" name="price"  value="{{ @product->price }}"> TL</div>
								</section>
								<section><label for="text_field">Tweet Sayısı :</label>
									<div><input type="text" id="text_field" name="tweetCount"  value="{{ @product->tweetCount }}"></div>
								</section>
								<section><label for="text_field">Ajans Komisyon Oranı :</label>
									<div><input type="text" id="text_field" name="comissionRate"  value="{{ @product->comissionRate }}"> %</div>
								</section>
								<section><label for="text_field">Min. Kampanya Süresi :</label>
									<div><input type="text" id="text_field" name="minDay"  value="{{ @product->minDay }}"> Gün</div>
								</section>
								<section><label for="text_field">Max. Kampanya Süresi :</label>
									<div><input type="text" id="text_field" name="maxDay"  value="{{ @product->maxDay }}"> Gün</div>
								</section>
								<F3:check if="{{ @checkPermission(@PermissionTypes.admin)}}">
								<section><label for="text_field">Maliyet :</label>
									<div><input type="text" id="text_field" name="cost"  value="{{ @product->cost }}"></div>
								</section>
								</F3:check>
								<section><label for="text_field">Detaylı Açıklama :</label>
									<div><input type="text" id="text_field" name="detail"  value="{{ @product->detail }}"></div>
								</section>
								<section>
									<div><button class="btn-edit-product submit green" name="submitbuttonname" value="submitbuttonvalue">Kaydet</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>
			</div>