	<script>

		$(document).ready(function() {
			
                        $("#twitterUserName").change(function()
                        {                       
                            var twitterurl = "https://twitter.com/";
                            $(this).val($(this).val().replace("@","").replace(twitterurl,""));        
                        });
                    
			$("#frmAddPublisher").submit(function(){return false;});

			$(".addPublisher").bind("click",function(){
                                $("#twitterUserName").change();
				$(".addPublisher").hide();
                                $.ajax({
					type: "POST",
					url: "{{ @BASE }}/savePublisher",
					data: { username: $("#twitterUserName").val(), publisherTags: $("#PublisherTags").val(), groupId: $("#groupId").val()},
					dataType: "json",
                                        timeout: timeoutOnePublisher,
					success:function(data){
                                                $(".addPublisher").show();
						if (data.error != 0){
							$.alert("An error occurred when performing your action. \n\n  Please try again later or contact your system administrator. \n\n Error - \n\n" + data.description);
						} else {
							if (data.isnew == true){
								$.msg("The user added successfully.")
								//location.reload();
							} else {
								$.msg("The user exsits in database. This user's information has been updated.")
								//location.reload();
							}
						}
					},
                                        error: function(x, t, m) {
                                            $(".addPublisher").show();
                                            if(t==="timeout") {
                                                $.alert("An Timeout error occurred when performing your action. \n\n  Please try again later or contact your system administrator.");
                                            } else {
                                                $.alert(t);
                                            }
                                        }
				});
				return false;
			});

		});
	</script>
				<div class="g12 widgets">
					<F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
					<div class="widget" id="calendar_widget" data-icon="calendar">
						<h3 class="handle">Add New User</h3>
						<div>
							<form action="#" method="post" id="frmAddPublisher">
								<fieldset>
									<section><label for="text_field">Twitter UserName:</label>
										<div><input type="text" id="twitterUserName" name="twitterUserName"></div>
									</section>
                                                                    <F3:check if="{{ count(@Groups) > 1 }}">

                                                                        <section id="userGroupsSec">
                                                                                <label>User Group:</label>
                                                                                <div>    
                                                                                            <select name="type" id="groupId"  >
												<F3:repeat value="{{ @secGroup }}" group="{{ @Groups }}">
                                                                                                    <option value="{{ @secGroup.ID }}">{{ @secGroup.GroupName }}</option>
												</F3:repeat>
											</select>
                                                                                        
										</div>
                                                                         </section>
                                                                        </F3:check>
                                                                        <F3:check if="{{ count(@Groups) == 1 }}">
                                                                            <input type="hidden" id="groupId" name="groupId" value="{{ @Groups[0].ID }}">
                                                                        </F3:check>
                                                                        
                                                                        <section>
                                                                                <label>Publisher Tags:</label>
                                                                                <div>
                                                                                    <select id="PublisherTags" multiple>
                                                                                    <F3:repeat value="{{ @Tag }}" group="{{ @PublisherTags }}">
                                                                                        <option value="{{ @Tag.ID }}">{{ @Tag.typeName }} ({{ @Tag.GroupName }})  </option>   
                                                                                    </F3:repeat>
                                                                                    </select>    
										</div>
                                                                         </section>
                                                                    
									<section>
										<div><button class="addPublisher green" name="submitbuttonname" value="submitbuttonvalue">Add</button></div>
									</section>
								</fieldset>
							</form>
						</div>
					</div>
					</F3:check>
			</div>
        
        <div class="g12 widgets">
				<!-- Show Added Publishers 
					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Publishers</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
									<th>Photo</th>
									<th>Username</th>
									<th>Name</th>
									<th>Type</th>
									<th>Followers</th>
									<th>Date Added</th>
									<th>True Reach</th>
									<th>Price</th>
									<th>Last Updated</th>
									<th width="50">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @publisher }}" group="{{ @publishers }}">
								<tr class="gradeA">
									<td><img src="{{ @publisher.avatar }}" width="50px" height="50px" border="0" /></td>
									<td><a href="http://twitter.com/{{ @publisher.username }}" target="_blank">{{ @publisher.username }}</a></td>
									<td>{{ @publisher.name }}</td>
									<td class="">{{ @publisher.typeName }}</td>
									<td class="v-follower">{{ @publisher.follower }}</td>
									<td class="v-follower-date">{{ date("d.m.Y H:i",@publisher.followerUpdateDate) }}</td>
									<td class="v-influence">{{ (is_null(@publisher.costUpdateDate) ? "Hesaplanıyor" : @publisher.influence) }}</td>
									<td class="v-cost">{{ (is_null(@publisher.costUpdateDate) ? "Hesaplanıyor" : @publisher.cost) }}</td>
									<td class="v-cost-date">{{ (is_null(@publisher.costUpdateDate) ? "Hesaplanıyor" : date("d.m.Y H:i",@publisher.costUpdateDate)) }}</td>
									<td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
										<a href="#" class="btn-update-new btn i_power yellow" title="Update" username="{{ @publisher.username }}" utype="{{ @publisher.type }}"></a>
										</F3:check>
										<F3:check if="{{ @checkPermission(@PermissionTypes.deletePublisher) }}">
										<a href="#" class="btn-delete-new  btn i_trashcan red" title="Delete" twitterid="{{ @publisher.twitterid }}"></a>
										</F3:check>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
			</div>
                                -->	