	<script>

		$(document).ready(function() {
			var $content = $('#content');
			$content.find("table.akilliTablo").dataTable({
				"sPaginationType": "full_numbers"
			});

			$(".btn-delete-new").live("click",function(){
				if (confirm("Bu kaydı silmek istediğinize emin misiniz?")){
					var o = $(this);
					var p = o.parent().parent();
					$.ajax({
						type: "POST",
						url: "{{ @BASE }}/deleteContact",
						data: { cid: o.attr("cid") },
						dataType: "json",
						success:function(data){
							if (data.error != 0){
								$.msg("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
							} else {
								$.msg("Kayıt silindi.");
								p.fadeOut();
							}
						}
					});
				}
				return false;
			});

		});
	</script>
				<div class="g12 widgets">
					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Rehber</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
									<th>Foto</th>
									<th>Ad</th>
									<th>Soyad</th>
									<th>Telefon</th>
									<th>GSM</th>
									<th>Firma</th>
									<th>Email</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @contact }}" group="{{ @contacts }}">
								<tr class="gradeA">
									<td>
										<a href="{{ @BASE }}/contactDetail/{{ @contact.ID}}">
										<F3:check if="{{ @contact.file == '' }}">
											<F3:true>
												<img src="{{ @BASE }}/css/images/nophoto.jpg" width="50px" height="50px" border="0" />
											</F3:true>
											<F3:false>
												<img src="{{ @BASE }}/photo/{{ @contact.file }}" width="50px" border="0" />
											</F3:false>
										</F3:check>
										</a>
									</td>
									<td><a href="{{ @BASE }}/contactDetail/{{ @contact.ID}}">{{ @contact.name}}</a></td>
									<td>{{ @contact.surname}}</td>
									<td>{{ @contact.phone}}</td>
									<td>{{ @contact.mobile}}</td>
									<td>{{ @contact.accountName}}</td>
									<td>{{ @contact.email}}</td>
									<td>
										<a href="{{ @BASE }}/editContact/{{ @contact.ID }}" class="btn-update-new btn i_power yellow" title="Güncelle"></a>
										<a href="#" class="btn-delete-new  btn i_trashcan red" title="Sil" cid="{{ @contact.ID }}"></a>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
			</div>