	<script>

		$(document).ready(function() {
			var $content = $('#content');
			$content.find("table.akilliTablo").dataTable({
				"sPaginationType": "full_numbers"
			});
		});
	</script>
				<div class="g12 widgets">
					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Ürünler</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
									<th>Firma</th>
									<th>Marka</th>
									<th>Kampanya Adı</th>
									<th>Kampanya Tarihi</th>
									<th>Tutar</th>
									<th>Ödeme Tarihi</th>
									<th>Satış Temsilcisi</th>
									<th>Not</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @cashFlow }}" group="{{ @cashFlows }}">
								<tr class="gradeA">
									<td>{{ @cashFlow.company}}</td>
									<td>{{ @cashFlow.brand}}</td>
									<td>{{ @cashFlow.campaign}}</td>
									<td>{{ date('d.m.Y',strtotime(@cashFlow.campDate))}}</td>
									<td>{{ @cashFlow.campCost}} TL</td>
									<td>{{ date('d.m.Y',strtotime(@cashFlow.dueDate))}}</td>
									<td>{{ @cashFlow.responsible}}</td>
									<td>{{ @cashFlow.notes}}</td>
									<td>
										<a href="{{ @BASE }}/editCashFlow/{{ @cashFlow.id }}" class="btn i_pencil yellow" title="Güncelle"></a>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
			</div>