	<script>

		$(document).ready(function() {
			var $content = $('#content');
			$content.find("table.akilliTablo").dataTable({
				"sPaginationType": "full_numbers"
			});

			$(".btn-delete-new").live("click",function(){
				if (confirm("Bu firmayı ve bur firmaya ait girilen tüm içerikleri silmek istediğinize emin misiniz?") && confirm("Son kararınız mı?")){
					var o = $(this);
					var p = o.parent().parent();
					$.ajax({
						type: "POST",
						url: "{{ @BASE }}/deleteCustomer",
						data: { customerID: o.attr("customerID") },
						dataType: "json",
						success:function(data){
							if (data.error != 0){
								alert("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
							} else {
								alert("Firma silindi.");
								p.fadeOut();
							}
						}
					});
				}
				return false;
			});

		});
	</script>
				<div class="g12 widgets">
					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Firmalar</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
									<th>Firma</th>
									<th>Yetkili</th>
									<th>Lokasyon</th>
									<th>Şehir</th>
									<th>Telefon</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @customer }}" group="{{ @customers }}">
									<tr class="gradeA">
										<td><a href="{{ @BASE }}/customerDetail/{{ @customer.ID }}">{{ @customer.name }}</a></td>
										<td>{{ @customer.responsiblehead }}</td>
										<td>{{ @customer.location }}</td>
										<td>{{ @customer.city }}</td>
										<td>{{ @customer.phone }}</td>
										<td>
											<F3:check if="{{ @checkPermission(@PermissionTypes.editFirm)}}">
											<a href="{{ @BASE }}/editCustomer/{{ @customer.ID }}" class="btn i_pencil yellow" title="Güncelle"></a>
											</F3:check>
											<F3:check if="{{ @checkPermission(@PermissionTypes.deleteFirm)}}">
											<a href="#" class="btn i_trashcan red btn-delete-new" customerID="{{ @customer.ID }}" title="Sil"></a>
											</F3:check>
										</td>
									</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
				</div>