			<div class="g12">
				<script>

					$(document).ready(function() {
						var $content = $('#content');
						$content.find("table.akilliNotlar").dataTable({
							"sPaginationType": "full_numbers"
						});

					});
				</script>
							<!-- last notes -->
							<div class="widget" id="newfirm" data-icon="calendar">
								<h3 class="handle">Notlar</h3>
								<div>

										<table class="akilliNotlar">
										<thead>
											<tr>
												<th width="100">Tarih</th>
												<th>Firma</th>
												<th>Not</th>
												<th>Ekleyen</th>
												<th>İşlem</th>
											</tr>
										</thead>
										<tbody>
											<F3:repeat value="{{ @note }}" group="{{ @notes }}">
												<tr class="gradeA" id="note{{ @note.ID }}">
													<td>{{ date(@timeformat2, @note.date) }}</td>
													<td><a href="{{ @BASE }}/customerDetail/{{ @note.ID }}">{{ @note.customerName }}</a></td>
													<td style="text-align:left;">{{ @note.note }}</td>
													<td>{{ @note.noted }}</td>
													<td>
														<F3:check if="{{ @checkPermission(@PermissionTypes.addFirm) && @SESSION.userid == @note.noted }}">
															<a href="#" class="btn i_trashcan red" title="Sil" noteID="{{ @note.ID }}"></a>
														</F3:check>
													</td>
												</tr>
											</F3:repeat>
										</tbody>
										</table>


								</div>
							</div>
							<!-- end -->


			</div>