	<script>

		$(document).ready(function() {
			var $content = $('#content');
			$content.find("table.akilliTablo").dataTable({
				"sPaginationType": "full_numbers"
			});

			$(".btn-delete-new").live("click",function(){
				if (confirm("Bu ürünü silmek istediğinize emin misiniz?")){
					var o = $(this);
					var p = o.parent().parent();
					$.ajax({
						type: "POST",
						url: "{{ @BASE }}/deleteProduct",
						data: { cid: o.attr("cid") },
						dataType: "json",
						success:function(data){
							if (data.error != 0){
								$.msg("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
							} else {
								$.msg("Ürün silindi.");
								p.fadeOut();
							}
						}
					});
				}
				return false;
			});

		});
	</script>
				<div class="g12 widgets">
					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Ürünler</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
									<th>Ürün Adı</th>
									<th>Ürün Fiyatı</th>
									<th>Tweet Sayısı</th>
									<th>Ajans Komisyon Oranı</th>
									<th>Min. Kampanya Süresi</th>
									<th>Max. Kampanya Süresi</th>
									<F3:check if="{{ @checkPermission(@PermissionTypes.admin)}}"><th>Maliyet</th></F3:check>
									<th>Detay</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @product }}" group="{{ @products }}">
								<tr class="gradeA">
									<td>{{ @product.product_name}}</td>
									<td>{{ @product.price}} TL</td>
									<td>{{ @product.tweetCount}}</td>
									<td>{{ @product.comissionRate}} %</td>
									<td>{{ @product.minDay}} Gün</td>
									<td>{{ @product.maxDay}} Gün</td>
									<F3:check if="{{ @checkPermission(@PermissionTypes.admin)}}">
									<td>{{ @product.cost}} TL</td>
									</F3:check>
									<td>{{ @product.detail}}</td>
									<td>
										<a href="{{ @BASE }}/editProduct/{{ @product.ID }}" class="btn-update-new btn i_power yellow" title="Güncelle"></a>
										<a href="#" class="btn-delete-new  btn i_trashcan red" title="Sil" cid="{{ @product.ID }}"></a>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
			</div>