	<script type="text/javascript" src="{{ @BASE }}/js/calculate.js"></script>
	<script>

                var a_groups=[];
		$(document).ready(function() {
                    
                        <F3:repeat value="{{ @g }}" group="{{ @AllGroups }}">
                            a_groups['{{ @g.ID }}'] = '{{ @g.GroupName }}';
                        </F3:repeat>
                        
                        $('.editgroup').editable('/admPpdateGroup',{
                            data   : a_groups, 
                            type   : 'select',
                            submit : 'OK',
                            style  : "background-color: #176d73",
                            callback: function(value, settings) { 
                                //$(this).attr('style',"background-color: #D1D1D1");
                                $(this).replaceWith('<div>Done</div>');
                                
                            }
                        });
                        
                    
			var $content = $('#content');
			$content.find("table.akilliTablo").dataTable({
				"sPaginationType": "full_numbers"
			});

			$(".btn-update-new").live("click",function(){
				var o = $(this);
				var p = o.parent().parent();
				calculate(o,p,null,false);
				return false;
			});

			$(".btn-delete-new").live("click",function(){
				if (confirm("Are you sure you want to delete this publisher?")){
					var o = $(this);
					var p = o.parent().parent();
					$.ajax({
						type: "POST",
						url: "{{ @BASE }}/deletePublisher",
						data: { twitterid: o.attr("twitterid") },
						dataType: "json",
						success:function(data){
							if (data.error != 0){
								$.msg("An error occurred when performing your action. Please try again later.");
							} else {
								$.msg("User was deleted.");
								p.fadeOut();
							}
						}
					});
				}
				return false;
			});
		});
	</script>
				<div class="g12 widgets">
					
					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Publishers</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
									<th>Photo</th>
									<th>Username</th>
									<th>Name</th>
									<th>Type</th>
									<th>Followers</th>
									<th>Date Added</th>
									<th>True Reach</th>
									<th>Price</th>
									<th>Last Updated</th>
                                                                        <th>Group</th>
									<th width="50">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @publisher }}" group="{{ @publishers }}">
								<tr class="gradeA">
									<td><img src="{{ @publisher.avatar }}" width="50px" height="50px" border="0" /></td>
									<td><a href="http://twitter.com/{{ @publisher.username }}" target="_blank">{{ @publisher.username }}</a></td>
									<td>{{ @publisher.name }}</td>
									<td class="">{{ @publisher.typeName }}</td>
									<td class="v-follower">{{ @publisher.follower }}</td>
									<td class="v-follower-date">{{ date("d.m.Y H:i",@publisher.followerUpdateDate) }}</td>
									<td class="v-influence">{{ (is_null(@publisher.costUpdateDate) ? "Calculating" : @publisher.influence) }}</td>
									<td class="v-cost">{{ (is_null(@publisher.costUpdateDate) ? "Calculating" : @publisher.cost) }}</td>
									<td class="v-cost-date">{{ (is_null(@publisher.costUpdateDate) ? "Calculating" : date("d.m.Y H:i",@publisher.costUpdateDate)) }}</td>
                                                                        <td class=""><div id="{{ @publisher.username }}" class="editgroup"> {{ @publisher.groupId }}</div> </td>         
                                                                        <td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
										<a href="#" class="btn-update-new btn i_power yellow" title="Update" username="{{ @publisher.username }}" utype="{{ @publisher.type }}"></a>
										</F3:check>
										<F3:check if="{{ @checkPermission(@PermissionTypes.deletePublisher) }}">
										<a href="#" class="btn-delete-new  btn i_trashcan red" title="Delete" twitterid="{{ @publisher.twitterid }}"></a>
										</F3:check>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
			</div>