
				<script>

					$(document).ready(function() {
						var $content = $('#content');
						$content.find("table.dataTable").dataTable({
							"sPaginationType": "full_numbers"
						});

					});
				</script>
						<div class="g12">
							<div class="widget" id="newfirm" data-icon="calendar">
								<h3 class="handle">Notlar</h3>
								<div>

										<table class="dataTable">
											<thead>
												<tr>
													<th width="90">Tarih</th>
													<th width="90">Durum</th>
													<th width="120">İlgili Firma</th>
													<th width="120">İlgili Kampanya</th>
													<th>Not</th>
													<th width="90">Dosya</th>
													<th width="90">Duzenleyen</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<F3:repeat value="{{ @status }}" group="{{ @statuses }}">
												<tr class="gradeA">

													<td>{{@status.date}}</td>
													<td>{{@status.statusType}}</td>
													<td><a href="{{ @BASE }}/customerDetail/{{@status.company_id}}">{{@status.company_name}}</a></td>
													<td>{{@status.campaignName}}</td>
													<td>{{@status.note}}</td>
													<td><a href="{{ @BASE }}/upload/{{@status.file}}">{{@status.file}}</a></td>
													<td><a href="{{ @BASE }}/username/{{@status.manager_username}}">{{@status.manager_name}}</a></td>
													<td>
														<F3:check if="{{ @checkPermission(@PermissionTypes.deleteStatus) && @SESSION.accID == @status.manager }}">
														<a href="#" class="btn-status-delete btn i_trashcan red" title="Sil" statusID="{{@status.ID}}"></a>
														</F3:check>
													</td>
												</tr>
												</F3:repeat>
											</tbody>
											</table>


								</div>
							</div>
							<!-- end -->


			</div>