	<script>

		$(document).ready(function() {
			$(".btn-delete-new").live("click",function(){
				if (confirm("Bu yayıncıyı silmek istediğinize emin misiniz?")){
					var o = $(this);
					var p = o.parent().parent();
					$.ajax({
						type: "POST",
						url: "{{ @BASE }}/deleteContact",
						data: { cid: o.attr("cid") },
						dataType: "json",
						success:function(data){
							if (data.error != 0){
								$.msg("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
							} else {
								$.msg("Kontakt silindi.");
								location.href = "{{ @BASE }}/allContacts";
							}
						}
					});
				}
				return false;
			});
		});
	</script>
						<div class="g6">
							<h4>{{ @contact.name }} {{ @contact.surname }}</h4>
							<table class="documentation">
								<tbody>
								<tr>
									<th>Ad</th>
									<td>{{ @contact.name }}</td>
								</tr>

								<tr>
									<th>Soyad</th>
									<td>{{ @contact.surname }}</td>
								</tr>

								<tr>
									<th>E-Mail</th>
									<td>{{ @contact.email }}</td>
								</tr>

								<tr>
									<th>Telefon</th>
									<td>{{ @contact.phone }}</td>
								</tr>

								<tr>
									<th>Mobil</th>
									<td>{{ @contact.mobile }}</td>
								</tr>

								<tr>
									<th>Asistan</th>
									<td>{{ @contact.assistant }}</td>
								</tr>

								<tr>
									<th>Asistan Telefon</th>
									<td>{{ @contact.assistantPhone }}</td>
								</tr>
								<tr>
									<th>Şirket</th>
									<td>{{ @contact.customerName }}</td>
								</tr>

								<tr>
									<th>Title</th>
									<td>{{ @contact.title }}</td>
								</tr>

								<tr>
									<th>Departman</th>
									<td>{{ @contact.department }}</td>
								</tr>

								<tr>
									<th>Doğum Tarihi</th>
									<td>{{ @contact.dateOfBirth }}</td>
								</tr>

								<tr>
									<th>Skype</th>
									<td>{{ @contact.skype }}</td>
								</tr>

								<tr>
									<th>Gtalk</th>
									<td>{{ @contact.gtalk }}</td>
								</tr>

								<tr>
									<th>Linkedin</th>
									<td>{{ @contact.linkedin }}</td>
								</tr>

								<tr>
									<th>Facebook</th>
									<td>{{ @contact.facebook }}</td>
								</tr>

								<tr>
									<th>Twitter</th>
									<td>{{ @contact.twitter }}</td>
								</tr>

								<tr>
									<th>Adres</th>
									<td>
										<F3:check if="{{ @contact.address == ''}}">
											<F3:true>{{ @contact.customerAddress }}</F3:true>
											<F3:false>{{ @contact.address }}</F3:false>
										</F3:check>
									</td>
								</tr>
								<tr>
									<th>Sehir</th>
									<td>{{ @contact.cityName }}</td>
								</tr>
								<tr>
									<th>Ülke</th>
									<td>{{ @contact.countryName }}</td>
								</tr>
								</tbody>
							</table>
							<F3:check if="{{ @contact.address == ''}}">
							<p>
									* Kisinin adres bilgisi kayitli bulunmadigi icin firma adres bilgisi gosterilmektedir.
							</p>
							</F3:check>
							<p class="j">
								<a href="{{ @BASE }}/editContact/{{ @contact.ID }}" class="btn i_pencil yellow" title="Güncelle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Güncelle</a>
								<a href="#" class="btn-delete-new  btn i_trashcan red" title="Sil" cid="{{ @contact.ID }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sil</a>
							</p>
						</div>
						<div class="g4">
							<h4>&nbsp;</h4>
							<p class="j">
								<F3:check if="{{ @contact.file == '' }}">
									<F3:true>
										<img src="{{ @BASE }}/css/images/nophoto.jpg" width="250px" border="0" />
									</F3:true>
									<F3:false>
										<img src="{{ @BASE }}/photo/{{ @contact.file }}" width="250px" border="0" />
									</F3:false>
								</F3:check>
							</p>
						</div>
