			<script>
				$(document).ready(function() {
					$(".meter > span").each(function() {
						$(this)
							.data("origWidth", $(this).width())
							.width(0)
							.animate({
								width: $(this).data("origWidth")
							}, 1200);
					});

					$(".btn-delete-status").click(function(){
						if (confirm("Bu durumu silmek istediğinize emin misiniz?")){
							var o = $(this);
							var p = o.parent().parent();
							$.ajax({
								type: "POST",
								url: "{{ @BASE }}/deleteStatus",
								data: { statusID: o.attr("statusID") },
								dataType: "json",
								success:function(data){
									if (data.error != 0){
										alert("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
									} else {
										alert("Durum silindi.");
										p.fadeOut();
									}
								}
							});
						}
						return false;
					});

					$(".btn-delete-note").click(function(){
						if (confirm("Bu notu silmek istediğinize emin misiniz?")){
							var o = $(this);
							var p = o.parent().parent();
							$.ajax({
								type: "POST",
								url: "{{ @BASE }}/deleteNote",
								data: { noteID: o.attr("noteID") },
								dataType: "json",
								success:function(data){
									if (data.error != 0){
										alert("İşleminizi gerçekleştirirken hata oluştu. Lütfen daha sonra tekrar deneyiniz.");
									} else {
										alert("Durum silindi.");
										p.fadeOut();
									}
								}
							});
						}
						return false;
					});
				});
			</script>
			<div class="meter" style="display:{{ @progressDisplay }};">
				<span style="width: {{ @customer.progressSize }}%">
					{{ @customer.lastStatusType }} - {{ @customer.lastStatusDate }}
				</span>
			</div>

				<div class="widget" id="firmDetails" data-icon="calendar">
					<h3 class="handle">Firma Detayları</h3>
					<div>
						<form id="formFirmAdd"  data-ajax="false">
							<fieldset>
								<section><label for="text_field">Firma :</label>
									<div>{{ @customer.name }}</div>
								</section>
								<section><label for="text_field">Yetkili Kişi :</label>
									<div>{{ @customer.responsiblehead }}</div>
								</section>
								<section><label for="text_field">Adres :</label>
									<div>{{ @customer.location }}</div>
								</section>
								<section>
									<label for="customer_type">Şehir</label>
									<div>
										{{ @customer.city }}
									</div>
								</section>
								<section><label for="text_field">Telefon :</label>
									<div>{{ @customer.phone }}</div>
								</section>
								<section><label for="text_field">GSM :</label>
									<div>{{ @customer.gsm }}</div>
								</section>
									<section>
										<label for="customer_sector">Sektör</label>
										<div>
											{{ @customer.sectorName }}
										</div>
									</section>
									<section>
										<label for="customer_type">Tip</label>
										<div>
											{{ @customer.typeName }}
										</div>
									</section>

							</fieldset>
						</form>
						<F3:check if="{{ @checkPermission(@PermissionTypes.editFirm) }}">
						<a href="{{ @BASE }}/editCustomer/{{ @customer.ID }}" class="btn i_pencil icon yellow">Firmayı Düzenle</a>
						</F3:check>
					</div>
				</div>

				<F3:check if="{{ @checkPermission(@PermissionTypes.changeStatus) }}">
				<div class="widget" id="addStatus" data-icon="calendar">
					<h3 class="handle">Yeni Durum Ekle</h3>
					<div>
						<form action="{{ @BASE }}/addStatus" method="post" id="frmNewStatus"  data-ajax="false" enctype="multipart/form-data" >
							<fieldset>

								<input type="hidden" id="noted" name="manager" value="{{ @SESSION.accID }}">
								<input type="hidden" id="companyID" name="company" value="{{ @customer.ID }}">


								<section>
									<label for="statusType">Durum</label>
									<div>
										<select name="status" id="statuses">
											<option/>Seçin</option>
											<F3:repeat value="{{ @statusType }}" group="{{ @statusTypes }}">
												<option value="{{ @statusType.ID }}" />{{ @statusType.type }}</option>
											</F3:repeat>
										</select>
									</div>
								</section>

								<!-- <section>
									<label for="statusType">İlgili Proje</label>
									<div>
										<select name="campaign" id="campaign">
											<option/>Seçin</option>
											<F3:repeat value="{{ @campaign }}" group="{{ @campaigns }}">
												<option value="{{ @campaign.id }}" />{{ @campaign.title }}</option>
											</F3:repeat>
										</select>
									</div>
								</section> -->



								<section><label for="textarea">Tarih</label>
									<div><input id="date" name="date" type="text" class="date"></div>
								</section>
								<section><label for="textarea">Not</label>
									<div><textarea id="textarea" name="note" rows="5"></textarea></div>
								</section>
								<section><label for="file_upload">Dosya<br><span>Durum ile ilgili dosya varsa lütfen yükleyin. (teklif, sözleşme v.b)</span></label>
									<div><input type="file" id="file_upload" name="file_upload" data-auto-upload="false" multiple data-allowed-extensions="[pdf,doc,docx,ppt,pptx,txt,zip,rar]" data-max-file-size="10000000"></div>
								</section>
								<section>
									<div><button class="newStatusForFirm submit green" name="submitbuttonname" value="submitbuttonvalue">Durum Ekle</button></div>
								</section>
							</fieldset>
						</form>


					</div>
				</div>
				</F3:check>

				<div class="widget" id="statusChanges" data-icon="calendar">
					<h3 class="handle">Durum Degisiklikleri</h3>
					<div>

							<table class="dataTable">
							<thead>
								<tr>
									<th>Tarih</th>
									<th>Durum</th>
									<!-- <th>İlgili Kampanya</th> -->
									<th>Not</th>
									<th>Dosya</th>
									<th>Duzenleyen</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @status }}" group="{{ @statuses }}">
								<tr class="gradeA">

									<td><a name="s{{@status.ID}}"></a>{{@status.date}}</td>
									<td>{{@status.statusType}}</td>
									<!-- <td>{{@status.campaignName}}</td> -->
									<td>{{@status.note}}</td>
									<td><a href="{{ @BASE }}/upload/{{@status.file}}">{{@status.file}}</a></td>
									<td><a href="{{ @BASE }}/username/{{@status.manager_username}}">{{@status.manager_name}}</a></td>
									<td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.deleteStatus) && @SESSION.accID == @status.manager }}">
										<a href="#" class="btn-delete-status btn i_trashcan red" title="Sil" statusID="{{@status.ID}}"></a>
										</F3:check>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>


					</div>
				</div>
				<F3:check if="{{ @checkPermission(@PermissionTypes.editFirm) }}">
				<div class="widget" id="newfirm" data-icon="calendar">
					<h3 class="handle">Yeni Not Ekle</h3>
					<div>

						<form action="{{ @BASE }}/addNote" method="post" id="firmNotes"  data-ajax="false">
							<fieldset>
								<input type="hidden" id="companyID" name="company" value="{{ @customer.ID }}">
								<section><label for="textarea">Not</label>
									<div><textarea id="textarea" name="note" rows="3"></textarea></div>
								</section>
								<section>
									<div><button class="newNoteForFirm submit green" name="submitbuttonname" value="submitbuttonvalue">Not Ekle</button></div>
								</section>
							</fieldset>
						</form>


					</div>
				</div>
				</F3:check>

				<div class="widget" id="newfirm" data-icon="calendar">
					<h3 class="handle">Notlar</h3>
					<div>
						<table class="dataTable">
						<thead>
							<tr>
								<th width="100">Tarih</th>
								<th>Not</th>
								<th>Ekleyen</th>
								<th>İşlem</th>
							</tr>
						</thead>
						<tbody>
							<F3:repeat value="{{ @note }}" group="{{ @notes }}">
								<tr class="gradeA" id="note{{ @note.ID }}">
									<td><a name="n{{@note.ID}}"></a>{{ date(@timeformat2, @note.date) }}</td>
									<td style="text-align:left;">{{ @note.note }}</td>
									<td>{{ @note.noted }}</td>
									<td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.addFirm) && @SESSION.userid == @note.noted }}">
											<a href="#" class="btn i_trashcan red btn-delete-note" title="Sil" noteID="{{ @note.ID }}"></a>
										</F3:check>
									</td>
								</tr>
							</F3:repeat>
						</tbody>
						</table>
					</div>
				</div>