<F3:check if="{{ @checkPermission(@PermissionTypes.dashboard) }}">
	<div class="g6">
		<h3>Durum Dağılımı</h3>
		<p>Durumlara göre dağılımlar</p>
		<table class="chart" data-type="pie">
			<thead>
				<tr>
					<th></th>
					<F3:repeat value="{{ @item }}" group="{{ @statusCounts }}">
						<th>{{ @item.type}}</th>
					</F3:repeat>
				</tr>
			</thead>
			<tbody>
				<F3:repeat value="{{ @item }}" group="{{ @statusCounts }}">
					<tr>
						<th>{{ @item.type}}</th>
						<td>{{ @item.cnt}}</td>
					</tr>
				</F3:repeat>
			</tbody>
		</table>
	</div>
{{*
	<div class="g6">
		<h3>Tamamlanmış Proje Dağılımı</h3>
		<p>Satışçılara göre tamamlanmış proje dağılımları.</p>
		<table class="chart" data-type="pie" data-tilt="0.5">
			<thead>
				<tr>
					<th></th>
					<th>Semra Süzgün</th>
					<th>TBD</th>
					<th>TBD</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Semra Süzgün</th>
					<td>48</td>
				</tr>
				<tr>
					<th>TBD</th>
					<td>8</td>
				</tr>
				<tr>
					<th>TBD 2</th>
					<td>28</td>
				</tr>
				<tr>
					<th>TBD 3</th>
					<td>38</td>
				</tr>
			</tbody>
		</table>
	</div>
*}}
	<div class="g12">
		<hr>
		<h3>Satış Performans Grafiği</h3>
		<table class="chart">
			<thead>
				<tr>
					<th></th>
					<F3:repeat value="{{ @item }}" group="{{ @dates }}">
						<th>{{ @item.date}}</th>
					</F3:repeat>
				</tr>
			</thead>
			<tbody>
				<F3:repeat group="{{@memberStats}}" key="{{@ikey}}" value="{{@imember}}">
				<tr>
					<th>{{@ikey}}</th>
					<F3:repeat group="{{@imember}}" value="{{@ival}}">
						<td>{{ @ival }}</td>
					</F3:repeat>
				</tr>
				</F3:repeat>
			</tbody>
		</table>

		<hr>
	</div>
</F3:check>