<!doctype html>
<html lang="tr-tr">
<head>
	<F3:include href="inc/meta.htm"/>
</head>
<body id="error">
		<header>
			<div id="logo">
				<a href="{{ @BASE }}/">adMingle CRM</a>
			</div>
		</header>
    <section id="content">
        <div style="text-align:center"> <img src="{{ @BASE }}/css/images/404_man.jpg" style="width:350px; height: 337px"></div>
                <h2 style="float: left">Page Not Found</h2>
		<hr>
		<p>If the CRM's reached this page by clicking a link in the session has terminated.</p>
		<p>If you are logged in with new session even though you are seeing this, please contact site administrator.</p>
		<a class="btn small" href="{{ @BASE }}/">&lsaquo; Go to home page</a>
                <!--
                <h2>ancak aradığınız sayfayı bulamadık :(</h2>
		<hr>
		<p>Eğer CRM' in içindeki bir linke tıklayarak bu sayfaya ulaştıysanız oturumunuz sonlanmış olabilir.</p>
		<p>Eğer yeni giriş yapmış olmanıza rağmen bu syfayı görüyorsanız lütfen yönetinicinize danışın.</p>
		<a class="btn small" href="/">&lsaquo; Giriş sayfasına git</a>
		-->
                </section>
		<footer>Copyright adMingle CRM</footer>
		
</body>
</html>