<h3>{{ @SESSION.user?ucfirst(@SESSION.user):@pagetitle }}</h3>
<F3:check if="{{ @entries }}">
	<F3:true>
		<F3:repeat group="{{ @entries }}" key="{{ @key }}" value="{{ @item }}">
			<h4 class="blogtitle">{{ @item.title }}</h4>
			<a name="{{ strtotime(@item.time) }}"></a>
			<div class="blogtime">Posted {{ @item.time }}</div>
			<div class="{{ @key%2?'even':'odd' }}">{{ nl2br(@item.entry) }}</div>
			<p class="spacer"/>
			<F3:check if="{{ @SESSION.user }}">
				<p>
					<small>
					<a href="{{ @BASE }}/edit/{{ strtotime(@item.time) }}">Edit</a> |
					<a href="{{ @BASE }}/delete/{{ strtotime(@item.time) }}" onclick="return confirm('Are your sure you want to delete this entry?')">Delete</a>
					</small>
				</p>
			</F3:check>
		</F3:repeat>
		<F3:check if="{{ !@SESSION.user }}">
			<p><a href="{@BASE}/rss"><img src="{{ @BASE }}/{{ @GUI }}gfx/rss-icon.png"/></a> <small>Subscribe to this feed</small></p>
		</F3:check>
	</F3:true>
	<F3:false><p>There are no blog entries yet.</p></F3:false>
</F3:check>
<F3:check if="{{ @SESSION.user }}">
	<p><small><a href="{{ @BASE }}/create">+ Add blog entry</a></small></p>
</F3:check>
Hello world!