<!doctype html>
<html lang="us-en">
<head>
	<F3:include href="inc/meta.htm"/>
</head>
<body>
		<F3:include href="inc/headnav.htm"/>
		<header>
			<F3:include href="inc/header.htm"/>
		</header>
		<nav>
			<F3:include href="inc/sidebar.htm"/>
		</nav>

		<section id="content">
			<F3:check if="{{ @content }}">
				<F3:include href="{{ @content }}.htm"/>
			</F3:check>
		</section>

		<footer><F3:include href="inc/footer.htm"/></footer>
</body>
</html>