			<div class="g12">
				<script>

					$(document).ready(function() {
						var $content = $('#content');
						$content.find("table.akilliNotlar").dataTable({
							"sPaginationType": "full_numbers"
						});

					});
				</script>
							<!-- last notes -->
							<div class="widget" id="newfirm" data-icon="calendar">
								<h3 class="handle">Markafoni Kampanyası</h3>
								<div>

										<table class="akilliNotlar">
										<thead>
											<tr>
												<th width="100">Tarih</th>
												<th>Kullanıcı</th>
												<th>Tweet</th>
												<th>RT Count</th>
											</tr>
										</thead>
										<tbody>
											<F3:repeat value="{{ @tweet }}" group="{{ @tweets }}">
												<tr class="gradeA" id="{{ @tweet.tweetid }}">
													<td>{{ @tweet.tweetdate }}</td>
													<td><a href="http:://twitter.com">{{ @tweet.screenname }} ({{ @tweet.namesurname }})</a></td>
													<td style="text-align:left;">{{ @tweet.tweettext }}</td>
													<td>{{ @tweet.rtcount }}</td>
												</tr>
											</F3:repeat>
										</tbody>
										</table>


								</div>
							</div>
							<!-- end -->


			</div>