	<script type="text/javascript">
		$(document).ready(function(){
			$("#users").change(function(){
				t = $(this);
				if (t.val().length>0){
					$.post("{{ @BASE }}/getUserPermissions",{u : t.val()},function(data){
                                                
						$("section.userData").slideDown();
						$(".permission_check").attr("disabled",false);
                                                $(".permission_check").attr("checked",false);
                                                $(".group_check").attr("disabled",false);
                                                $(".group_check").attr("checked",false);
                                                $("#SelecteduserID").val(t.val());
						
                                                // Update Group Selection
						if (data.error == 0){
							//console.log(data.result);
							for (i=0;i<data.result.length;i++){
								p = data.result[i];
								
								$("#" + p.module + "_check").attr("checked",true);
							}
                                                        
                                                        for (i=0;i<data.userGroups.length;i++){
								g = data.userGroups[i];
								
								$("#" + g.GroupID + "_groupCheck").attr("checked",true);
							}
						}
                                                
                                                // Update User Data
                                                $('#name').val(data.userData.name);
                                                $('#surname').val(data.userData.surname);
                                                $('#email').val(data.userData.email);
                                                $('#gsm').val(data.userData.gsm);
                                                $('#avatarimg').attr('src','http://www.gravatar.com/avatar/' + data.gravatar);
                                                
					},"json");
				} else {
					$("section.s_permissions").slideUp();
					$(".permission_check").attr("checked",false);
					$(".permission_check").attr("disabled",true);
				}
			});
			$(".permission_check").change(function(){
				t = $(this);
				if ($("#users").val().length>0){
					$.post("updateUserPermissions",{u : $("#users").val(), p : t.val(), a : t.attr("checked")},function(data){
						if (data.error == 0){
							$.msg("Authorization has been updated.");
						}
					},"json");
				}else {
					return false;
				}
			});
                        $(".group_check").change(function(){
				t = $(this);
				if ($("#users").val().length>0){
					$.post("updateUserGrops",{u : $("#users").val(), p : t.val(), a : t.attr("checked")},function(data){
						if (data.error == 0){
							$.msg("Authorization has been updated.");
						}
					},"json");
				}else {
					return false;
				}
			});
		});
	</script>
	<style type="text/css">
		.userData {display:none}
	</style>
			<div class="g12 widgets">
				<div class="widget" id="newfirm" data-icon="calendar">
					<h3 class="handle">Edit Users</h3>
					<div>
						<form action="{{ @BASE }}/adminUpdateProfile" method="post" id="formFirmAdd"  data-ajax="true">
							<fieldset>
								<section>
									<label for="dropdown_vegetables">System Members</label>
									<div>

										<select name="users" id="users">
											<optgroup label="User List">
												<option value="">Select Value</option>
												<F3:repeat value="{{ @member }}" group="{{ @members }}">
													<option value="{{ @member.id }}" />{{ @member.name }} {{ @member.surname }}</option>
												</F3:repeat>
											</optgroup>
										</select>
									</div>
								</section>
                                                                
                                                                
								<section class="userData"><label for="text_field">Name:</label>
									<div><input type="text" id="name" name="name" value=""></div>
								</section>
								<section class="userData"><label for="text_field">Surname:</label>
									<div><input type="text" id="surname" name="surname" value=""></div>
								</section>
								<section class="userData"><label for="text_field">e-mail:</label>
									<div><input type="text" id="email" name="email" value=""></div>
								</section>
								<section class="userData"><label for="text_field">Phone:</label>
									<div><input type="text" id="gsm" name="gsm" value=""></div>
								</section>
								<section class="userData"><label for="Profile Picture">File Upload:<br><span>System profile photo <a href="https://en.gravatar.com/" target="_blank">Gravatar</a> with the mapping.</span></label>
									<div><img id="avatarimg" src="" alt="" /></div>
								</section>
								<section id="s_groups" class="userData">
									<label>User Groups</label>
									<div>
										<F3:repeat value="{{ @group }}" group="{{ @groups }}">
											<input type="checkbox"  value="{{ @group.ID }}"  id="{{ @group.ID }}_groupCheck" class="group_check" disabled="true"><label for="{{ @group.ID }}_check">{{ @group.GroupName }}</label><br />
										</F3:repeat>
									</div>
								</section>
                                                                <section id="s_permissions" class="userData">
									<label>User Permissions</label>
									<div>
										<F3:repeat value="{{ @module }}" group="{{ @modules }}">
											<input type="checkbox"  value="{{ @module.ID }}"  id="{{ @module.ID }}_check" class="permission_check" disabled="true"><label for="{{ @module.ID }}_check">{{ @module.display }}</label><br />
										</F3:repeat>
									</div>
								</section>
                                                                <section class="userData">
									<div><button class="updateProfile submit" name="submitbuttonname" value="submitbuttonvalue">Update</button></div>
								</section>
							</fieldset>
						</form>
                                            
                                            <form action="{{ @BASE }}/adminNewPassSet" method="post" id="form"  data-ajax="true">
							<fieldset>
                                                            <input type="hidden" id="SelecteduserID" value=""/>
                                                                <section class="userData"><label for="text_field">New Password:</label>
									<div><input type="password" id="password" class="password" name="password"></div>
								</section>
								<section class="userData">
									<div><button class="updatePassword submit" name="submitbuttonname" value="submitbuttonvalue">Change Password</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>


			</div>