<div class="g12">
    
   
    <h1>Publisher Preview - {{ @twitterData->screen_name }} <a href="https://twitter.com/{{ @twitterData->screen_name }}" target="_blank">(@{{ @twitterData->screen_name }})</a> </h1>
	<a class="btn small fr">reload Data</a>
	<p>
                 Show all Publisher Data from calculation system and twitter updated data
	</p>
        
</div>
<div id="results">
	<div class="g6 widgets">
		<div class="widget" id="More Data">
			<h3 class="handle">Twitter Data</h3>
			<div class="query">
                            <img class="pimg" src="{{ @twitterData->profile_image_url }}" style="width: 96px;height: 96px"/>
                            <F3:check if="{{ @twitterData->location}}"> <p>Location: {{ @twitterData->location }}</p> </F3:check>
                            <F3:check if="{{ @twitterData->description}}"> <p>Description: {{ @twitterData->description }}</p></F3:check>
                            <F3:check if="{{ @twitterData->url}}"><p>Url: <a href="{{ @twitterData->url }}" target="_blank">{{ @twitterData->url }}</a></p></F3:check>
                            <p>Created: {{ @twitterData->created_at }}</p>
                            <p>Time Zone: {{ @twitterData->time_zone }}</p>
                            <p>{{ (( @twitterData->verified) ? "Verified Account" : "Not Verified Account") }}</p>
                            <p>Language: {{ @twitterData->lang }}</p>
                            <!--<p>Contributors Enabled: {{ ((@twitterData->contributors_enabled) ? "True" : "False") }}</p>
                            <p>Is Translator: {{ ((@twitterData->is_translator) ? "True" : "False") }}</p> -->
			</div>
		</div>
            <F3:check if="{{ @adMinglePublisher }}">
                <div class="widget" >
			<h3 class="handle"> Tags</h3>
			<div class="query">
                            <p>Current Tags: {{ @userData[0]->Tags }}</p>
                            <input type="hidden" value="{{ @userData[0]->ID }}" id="UserID">
                            <p>
                                <select id="PublisherTags" name="PublisherTags" multiple>
                                <F3:repeat value="{{ @Tag }}" group="{{ @PublisherTags }}">
                                    <option value="{{ @Tag.ID }}">{{ @Tag.typeName }} ({{ @Tag.GroupName }})  </option>   
                                </F3:repeat>
                                </select>    
                                
                            </p>
                            <p>
                                <button id="updateTags">update</button>
                            </p>
			</div>
		</div>
                <F3:check if="{{ count(@Groups) > 1 }}">
                <div class="widget">
			<h3 class="handle">Group</h3>
			<div class="query">
                            <p>
                            User Group:
                                    <select name="type" id="groupId"  >
                                        <F3:repeat value="{{ @secGroup }}" group="{{ @Groups }}">
                                            <option value="{{ @secGroup.ID }}">{{ @secGroup.GroupName }}</option>
                                        </F3:repeat>
                                    </select>
                            </p>
                            <p>
                                <button>Save</button>
                            </p>
			</div>
		</div>
                </F3:check>    
                </F3:check>
	</div>
	<div class="g6">
            	<div class="widget number-widget" id="number_widget2">
			<h3 class="handle">Twitter Number - Most updated</h3>
			<div>
				<ul>
                                    <li><a href=""><span style="width: 300px;text-align: left">Followers</span> <span>{{ @twitterData->followers_count }}</span> </a></li>
                                    <li><a href=""><span style="width: 300px;text-align: left">Friends</span> <span>{{ @twitterData->friends_count }}</span></a></li>
                                    <li><a href=""><span style="width: 300px;text-align: left">Lists</span> <span>{{ @twitterData->listed_count }}</span></a></li>
                                    <li><a href=""><span style="width: 300px;text-align: left">Favourites</span> <span>{{ @twitterData->favourites_count }}</span></a></li>
                                    <li><a href=""><span style="width: 300px;text-align: left">Statuses</span> <span>{{ @twitterData->statuses_count }}</span></a></li>
				</ul>
			</div>
		</div>
                <F3:check if="{{ @adMinglePublisher }}">
		<div class="widget number-widget" id="number_widget">
			<h3 class="handle">System Number, Last Calculated Data - {{ (is_null(@userData[0]->costUpdateDate) ? "Never" : date("d.m.Y H:i",@userData[0]->costUpdateDate)) }}</h3>
			<div>
				<ul>
                                    <li><a href=""><span style="width: 300px;text-align: left">Followers</span> <span id="txt_follower">{{ @userData[0]->follower }}</span></a></li>
                                    <li><a href=""><span style="width: 300px;text-align: left">Influence</span> <span id="txt_truereach">{{ @userData[0]->influence }}</span></a></li>
                                    <li><a href=""><span style="width: 300px;text-align: left">adMingle Price</span> <span id="txt_admingle_cost">{{ @userData[0]->cost }}</span></a></li>
				</ul>
                                <p>Date Added: {{ date("d.m.Y H:i",@userData[0]->followerUpdateDate) }}</p>
			</div>
		</div>
                </F3:check>
	
	</div>



	<hr>

	<h3>Follower Charts</h3>
	<table class="chart">
		<thead>
		<tr>
			<th></th>
			<F3:repeat value="{{ @d }}" group="{{ @dates }}">
				<th>{{ @d }}</th>
			</F3:repeat>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Followers</th>
			<F3:repeat value="{{ @f }}" group="{{ @followers }}">
				<td>{{@f}}</td>
			</F3:repeat>
		</tr>
		</tbody>
	</table>
	<hr>
	<h3>True Reach Charts</h3>
	<table class="chart">
		<thead>
		<tr>
			<th></th>
			<F3:repeat value="{{ @d }}" group="{{ @dates }}">
			<th>{{ @d }}</th>
			</F3:repeat>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>True Reach</th>
			<F3:repeat value="{{ @r }}" group="{{ @reachs }}">
			<td>{{@r}}</td>
			</F3:repeat>
		</tr>
		</tbody>
	</table>
	<hr>
	<h3>Cost Charts</h3>
	<table class="chart">
		<thead>
		<tr>
			<th></th>
			<F3:repeat value="{{ @d }}" group="{{ @dates }}">
				<th>{{ @d }}</th>
			</F3:repeat>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>Costs</th>
			<F3:repeat value="{{ @c }}" group="{{ @costs }}">
				<td>{{@c}}</td>
			</F3:repeat>
		</tr>
		</tbody>
	</table>
	<hr>
	<!--
	<div class="g12">
		<div class="widget" id="ajax_widget_reload">
			<h3 class="handle">Last Tweet</h3>
			<div id='fromtwo' class="query">
			</div>
		</div>
		<div class="widget" id="id_of_widget2">
			<h3 class="handle">Publisher Cost</h3>
			<div>
				<table id="CostCahrt1" style="width: 100%">
				<thead>
				<tr>
					<th>
						First Label
					</th>
					<th>
						Second Label
					</th>
					<th>
						Third Label
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						48
					</td>
					<td>
						95
					</td>
					<td>
						150
					</td>
				</tr>
				<tr>
					<td>
						96
					</td>
					<td>
						190
					</td>
					<td>
						300
					</td>
				</tr>
				<tr>
					<td>
						192
					</td>
					<td>
						380
					</td>
					<td>
						600
					</td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="g6">
		<div class="widget" id="id_of_widget4">
			<h3 class="handle">Languge Usge</h3>
			<h3>Pie Charts</h3>
			<p>
				for Pie Charts only the first column (Label 1) will be used
			</p>
			<table class="chart" data-type="pie">
			<thead>
			<tr>
				<th>
				</th>
				<th>
					English
				</th>
				<th>
					Turkish
				</th>
				<th>
					German
				</th>
				<th>
					Other
				</th>
				<th>
					Label 5
				</th>
				<th>
					Label 6
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th>
					English
				</th>
				<td>
					48
				</td>
			</tr>
			<tr>
				<th>
					Turkish
				</th>
				<td>
					8
				</td>
			</tr>
			<tr>
				<th>
					German
				</th>
				<td>
					28
				</td>
			</tr>
			<tr>
				<th>
					Other
				</th>
				<td>
					38
				</td>
			</tr>
			</tbody>
			</table>
		</div>
	</div>
    -->
</div>

<script type="text/javascript" charset="utf-8">
    
    $(document).ready(function() {
        $("#PublisherTags").wl_Multiselect('select',[{{ @UserTags }}]);
        
        
        $("#updateTags").click(function(data){
            console.log($("#PublisherTags").serialize());
            
            $.post('/updateUserTags?id='+$("#UserID").val(),$("#PublisherTags").serialize(),function(data){
                $.msg(data);
            });
            
        });
        
        
    });
    


</script>