	<script>

		$(document).ready(function() {
                    $("#btnAddNewList").click(function()
                {
                    var prompt =  $.prompt('Please Insert List Name', '', function(data){


                        if(data.length > 0)
                        {
                           console.log(data);
                           $.post("{{ @BASE }}/List", {'action':'create','data':data}, function(data){
                               console.log(data);
                               if(data.error == 0)
                                {
                                    $.msg('List Added');
                                    // Add To Table
                                }
                                else
                                {
                                    $.alert('Error Creating List',data.msg);
                                }
                           },"json");
                        }


                    });

                    prompt.setHeader('New Publisher List');
                });


		});
	</script>
        		<div class="g12">
			<h1>Publishers Lists</h1>
                        <a id="btnAddNewList" class="btn small fr">Add New List</a>

			<p>Lists are group of publishers and can be calculated together<br>
			</p>


                        </div>


				<div class="g12 widgets">

					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Publishers Lists</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
                                                                        <th></th>
									<th>List Name</th>
									<th>Members</th>
									<th>Date Created</th>
									<th>Last Calculate</th>
									<th>Edit Members</th>
                                                                        <th>Calculate</th>
                                                                        <th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @list }}" group="{{ @UserLists }}">
								<tr class="gradeA">
                                                                        <td><input type="checkbox"></td>
                                                                        <td>{{ @list.ListName }}</td>
                                                                        <td>0</td>
                                                                        <td class="v-cost-date">{{ @list.LastUpdated }}</td>
                                                                        <td class="v-cost-date">{{ (is_null(@list.LastCalculated) ? "Never" : @list.LastCalculated) }}</td>
									<td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
										<a href="#" class="btn-update-new btn small i_power yellow" title="Update" username="{{ @publisher.username }}" utype="{{ @publisher.type }}"></a>
										</F3:check>
                                                                        </td>
                                                                        <td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.deletePublisher) }}">
										<a href="#" class="btn-delete-new  btn small i_calculator blue" title="Delete" twitterid="{{ @publisher.twitterid }}"></a>
										</F3:check>
									</td>
                                                                        <td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.deletePublisher) }}">
										<a href="#" class="btn-delete-new  btn small i_trashcan red" title="Delete" twitterid="{{ @publisher.twitterid }}"></a>
										</F3:check>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
			</div>