	<script type="text/javascript" src="{{ @BASE }}/js/calculate.js"></script>
	<script>
		$(document).ready(function() {
                /*    
                if({{@NewSearche}})
                {  
                  $("#newSearch").fadeIn();
                }
                
                $("#newSearch").click(function(){return true;});
                  */  
                $(".All_typeCheck").change(function() {
                    if(this.checked) {
                        $('.type_check').attr("checked",true);
                    }else{
                        $('.type_check').attr("checked",false);
                    }
                });
                
                $(".All_groupCheck").change(function() {
                    if(this.checked) {
                        $('.group_check').attr("checked",true);
                    }else{
                        $('.group_check').attr("checked",false);
                    }
                });
                    
                    
                $("#SearchPublisherForm").submit(function()
                { 
                    /*
                    $("#calendar_widget").collapsed();
                    $("#widget_ajax").attr("style","visibility: visible");
                    $("#widget_ajax").slideDown();
                    
                   // Add Loading Bar
                   */
                  
                  // Get all Types to Array
                  var typechekedValue = "";
                  $('.type_check').each(function(){
                     if(this.checked)
                         {
                             typechekedValue += $(this).val();
                             typechekedValue += ",";
                         }
                  });
                  $("#typesArray").val(typechekedValue.substring(0,typechekedValue.length -1));
                  
                  var groupchekedValue = "";
                  $('.group_check').each(function(){
                     if(this.checked)
                         {
                             groupchekedValue += $(this).val();
                             groupchekedValue += ",";
                         }
                  });
                  $("#groupsArray").val(groupchekedValue.substring(0,groupchekedValue.length -1));
                  
                  /*
                   console.log($("#SearchPublisherForm").serialize());
                   
                   var jqxhr = $.post("/SearchPublishers",$("#SearchPublisherForm").serialize(), function(publishers) {
                                        console.log('start...');
                                        
                                        $.each(publishers,function(i,v){
                                            console.log(GetRowHtml(v));
                                            
                                            $('.akilliTablo > tbody:last').append(GetRowHtml(v));
                                        });
                   },'json');
                   jqxhr.done(function() { console.log("second success"); });
                   jqxhr.fail(function() { console.log("error"); });
                   jqxhr.always(function() { console.log("finished"); });
                   */
                  return this.submit();
                });
                
                function GetRowHtml(data)
                {
                    var row = "<tr class=\"gradeA\">" +
                              "<td><img src=\"" + data.avatar + " width=\"50px\" height=\"50px\" border=\"0\" /></td>" +
                              "<td><a href=\"http://twitter.com/" +data.username +"\" target=\"_blank\">" +data.username +"</a></td>"+
                              "<td>"+data.name +" </td>" +
                              "<td>"+data.typeName+"</td>"+
                              "<td class=\"v-follower\">"+data.follower+"</td>" +
                              "<td class=\"v-follower-date\">"+ data.followerUpdateDate +"</td>"+
                              "<td class=\"v-influence\">"+ data.influence+"</td>"+
                              "<td class=\"v-cost\">" + data.cost + "</td>" +
                              "<td class=\"v-cost-date\">"+ data.costUpdateDate+"</td>"+
                              "<td>action</td>"+
                              /*"<td>
                               *+(data.costUpdateDate) ? 'Calculating' : data.costUpdateDate+"
                                <F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
                                    <a href="#" class="btn-update-new btn i_power yellow" title="Update" username="{{ @publisher.username }}" utype="{{ @publisher.type }}"></a>
                                </F3:check>
                                <F3:check if="{{ @checkPermission(@PermissionTypes.deletePublisher) }}">
                                <a href="#" class="btn-delete-new  btn i_trashcan red" title="Delete" twitterid="{{ @publisher.twitterid }}"></a>
                                </F3:check>
                                </td>*/
                            "</tr>";
                    return row;
                }
                
                
                    
                var $content = $('#content');
                $content.find("table.akilliTablo").dataTable({
                        "sPaginationType": "full_numbers"
                });

                $(".btn-update-new").live("click",function(){
                        var o = $(this);
                        var p = o.parent().parent();
                        calculate(o,p,null,false);
                        return false;
                });

                $(".btn-delete-new").live("click",function(){
                        if (confirm("Are you sure you want to delete this publisher?")){
                                var o = $(this);
                                var p = o.parent().parent();
                                $.ajax({
                                        type: "POST",
                                        url: "{{ @BASE }}/deletePublisher",
                                        data: { twitterid: o.attr("twitterid") },
                                        dataType: "json",
                                        success:function(data){
                                                if (data.error != 0){
                                                        $.msg("An error occurred when performing your action. Please try again later.");
                                                } else {
                                                        $.msg("User was deleted.");
                                                        p.fadeOut();
                                                }
                                        }
                                });
                        }
                        return false;
                });
		});
	</script>
        
        <div class="g12 widgets">
            <!--<div class="alert note" id="newSearch" hidden>New Search</div>-->
					<div class="widget {{ @Searched }}" id="calendar_widget"  data-icon="information">
						<h3 class="handle">Search User</h3>
						<div>
							<form action="{{ @BASE }}/SearchPublishers" method="post" id="SearchPublisherForm" >
								<fieldset>
									<section><label for="text_field">Twitter UserName:</label>
                                                                            <div><input type="text" id="twitterUserName" name="twitterUserName" value="{{ @twitterUserName }}" /></div>
									</section>
                                                                   <!-- <section><label for="text_field">Display UserName:</label>
                                                                        <div><input type="text" id="UserName" name="UserName" value="{{ @UserName }}"/></div>
								    </section> -->
                                                                    <F3:check if="{{ count(@Groups) > 1 }}">
                                                                    <section id="userGroupsSec">
                                                                                <label>User Group:</label>
                                                                                <div>
                                                                                    <input type="checkbox" class="All_groupCheck"><label>All</label><br />
                                                                                    <F3:repeat value="{{ @group }}" group="{{ @Groups }}">
                                                                                            <input type="checkbox"  value="{{ @group.ID }}"  id="{{ @group.ID }}_groupCheck" class="group_check" ><label for="{{ @group.ID }}_check">{{ @group.GroupName }}</label>
                                                                                    </F3:repeat>
                                                                                    <input type="hidden" id="groupsArray" name="groupsArray" value=""/>
                                                                                        
										</div>
                                                                         </section>
                                                                        </F3:check>
                                                                        <section>
                                                                                <label>Publisher Tags:</label>
                                                                                <div>
                                                                                    <select id="PublisherTags" name="PublisherTags" multiple>
                                                                                    <F3:repeat value="{{ @Tag }}" group="{{ @PublisherTags }}">
                                                                                        <option value="{{ @Tag.ID }}">{{ @Tag.typeName }} ({{ @Tag.GroupName }})  </option>   
                                                                                    </F3:repeat>
                                                                                    </select>    
										</div>
                                                                         </section>
                                                                    
                                                                    <!--
                                                                        <section>   
										<label for="dropdown_vegetables">publisher Type</label>
										<div>
                                                                                    
                                                                                    <input type="checkbox" class="All_typeCheck"><label>All</label><br />
                                                                                    <table>
                                                                                    <F3:repeat value="{{ @userType }}" group="{{ @userTypes }}" counter="{{ @ctr }}">
                                                                                        <input type="checkbox" value="{{ @userType.ID }}" id="{{ @userType.ID }}_typeCheck" class="type_check"><label for="{{ @userType.ID }}_typecheck">{{ @userType.type }}</label>
                                                                                    </F3:repeat>
                                                                                    </table>
                                                                                    <input type="hidden" id="typesArray" name="typesArray" value=""/>
										</div>
									</section> -->
                                                                        <section>   
										<label>Added Date</label>
										<div>
                                                                                    From:
                                                                                    <input type="date" id="ftom" name="StartDate" value="{{ @StartDate }}">
                                                                                    To:
                                                                                    <input type="date" id="to" name="EndDate" value="{{ @EndDate }}">
										</div>
									</section>
									<section>
                                                                            <div><button type="submit" id="searchPublisher" class="addPublisher green" name="submitbuttonname">Search</button>
                                                                                </div>
                                                                                
									</section>
								</fieldset>
							</form>
						</div>
					</div>
        </div>
        <div class="g12">
	                        <F3:check if="{{ @Searched }}">
					<div>
						<h3 class="handle">Search Results</h3>
						<div>
                                                    <table class="akilliTablo">
							<thead>
								<tr>
									<th>Photo</th>
									<th>Username</th>
									<th>Name</th>
									<th>Tags</th>
									<th>Followers</th>
									<th>Date Added</th>
									<th>True Reach</th>
									<th>Price</th>
									<th>Last Updated</th>
									<th width="">Update / Edit / Delete</th>
								</tr>
							</thead>
							<tbody>
                                                        <F3:repeat value="{{ @publisher }}" group="{{ @publishers }}">
								<tr class="gradeA">
									<td><img src="{{ @publisher.avatar }}" width="50px" height="50px" border="0" /></td>
									<td><a href="{{ @BASE }}/PublisherReview?u={{ @publisher.username }}" target="_blank">{{ @publisher.username }}</a></td>
									<td>{{ @publisher.name }}</td>
                                                                        <td class="" style="max-width: 100px;">{{ @publisher.Tags }}</td>
									<td class="v-follower">{{ @publisher.follower }}</td>
									<td class="v-follower-date">{{ date("d.m.Y H:i",@publisher.followerUpdateDate) }}</td>
									<td class="v-influence">{{ (is_null(@publisher.costUpdateDate) ? "Calculating" : @publisher.influence) }}</td>
									<td class="v-cost">{{ (is_null(@publisher.costUpdateDate) ? "Calculating" : round(@publisher.cost,2)) }}</td>
									<td class="v-cost-date">{{ (is_null(@publisher.costUpdateDate) ? "Calculating" : date("d.m.Y H:i",@publisher.costUpdateDate)) }}</td>
									<td>
										<F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
										<a href="#" class="btn-update-new btn i_power yellow" title="Update" username="{{ @publisher.username }}" utype="{{ @publisher.type }}"></a>
                                                                                <a href="{{ @BASE }}/PublisherReview?u={{ @publisher.username }}" class="btn-edit-new btn i_fountain_pen orange" title="Edit"></a>
										</F3:check>
										<F3:check if="{{ @checkPermission(@PermissionTypes.deletePublisher) }}">
										<a href="#" class="btn-delete-new  btn i_trashcan red" title="Delete" twitterid="{{ @publisher.twitterid }}"></a>
										</F3:check>
									</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
                                </f3:check>
			</div>