	<script>

		$(document).ready(function() {
                        $(".addNewForm").hide();
                    
			
                       $('.editable').editable('/SaveTag',{ 
                            type      : 'text',
                            cancel    : 'Cancel',
                            submit    : 'OK',
                            select    : 'false',
                            indicator : 'Saving...',
                            tooltip   : 'Click to edit...'
                        });
                        
                        $(".addNewTag").click(function(){
                            $(this).parent().hide();
                            var ranID = "fasafsfa";
                            $(this).parent().after("<input type='text' id='"+ranID+"' group='"+$(this).attr('id')+"' /> <button class='saveNewTag' tag='"+ranID+"'>save</button>");
                            
                            $(".saveNewTag").click(function(){
                                var tag = $(this).attr('tag'); 
                                var textbox = $('#'+tag);
                                
                                if(textbox.val().length > 0)
                                {
                                    $.post("{{ @BASE }}/SaveTag", { group:textbox.attr('group') , value:textbox.val(), newTag:'1' },function(data)
                                    {
                                        data = jQuery.parseJSON(data);
                                        if(data.error ==0)
                                        {
                                            console.log(data.value);
                                            console.log(data.GroupID);
                                            $("#"+data.GroupID).parent().before("<li>"+data.value+"</li>");
                                            
                                        }
                                        else
                                        {
                                            alert("error")
                                        }
                                    });
                                }

                                textbox.remove();
                                $(this).remove();
                                $(".addNewTag").parent().show();
                            });
                        
                        
                        });
                       
		});
	</script>
<div class="g12 widgets">
        <F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
        
                <div class="widget" data-icon="calendar">
                        <h3 class="handle">Basic</h3>
                        <div>
                            Basic Tags Can be edit by the system administrator 
                            <ul>
                            <F3:repeat value="{{ @Tag }}" group="{{ @TagGroups }}">
                                <F3:check if="{{ @Tag.GroupID == 0 }}">
                                    
                                    <F3:check if="{{ @checkPermission(@PermissionTypes.admin) }}">
                                        <F3:true>
                                            <li id="0_{{ @Tag.ID }}" class="editable">{{@Tag.typeName}}</li>
                                        </F3:true>
                                        <F3:false>
                                            <li id="0_{{ @Tag.ID }}">{{@Tag.typeName}}</li>
                                        </f3:false>
                                    </F3:check>
                               </F3:check>
                            </F3:repeat>
                                <F3:check if="{{ @checkPermission(@PermissionTypes.admin) }}">
                                    <F3:true>
                                <li><a id="0" class="addNewTag"> Add New...</a></li>
                                    </F3:true>
                                </F3:check>
                            </ul>                          
                        </div>
                </div>
            
            
                    <F3:repeat value="{{ @Group }}" group="{{ @Groups }}">
                        
                        <div class="widget" data-icon="calendar">
                        <h3 class="handle">Types for - {{ @Group.GroupName }}</h3>
                            <div>
                                Click to Edit , To Delete Tag Contact System Administrator
                                <ul>
                                <F3:repeat value="{{ @Tag }}" group="{{ @TagGroups }}">
                                    <F3:check if="{{ @Tag.GroupID == @Group.ID }}">
                                        <li id="{{ @Group.ID}}_{{@Tag.ID }}" class="editable">{{@Tag.typeName}}</li>
                                    </F3:check>
                                </F3:repeat>
                                    <li><a id="{{ @Group.ID}}" class="addNewTag"> Add New...</a></li>
                                </ul>                          
                            </div>
                        </div>
                    </F3:repeat>
                </F3:check>
           
</div>


                                	