	<script>

		$(document).ready(function() {
		});
	</script>
				<div class="g12 widgets">			
					<div class="widget" data-icon="number" id="widget_ajax">
						<h3 class="handle">Activity Log</h3>
						<div>
							<table class="akilliTablo">
							<thead>
								<tr>
									<th>Date</th>
									<th>Action</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
								<F3:repeat value="{{ @log }}" group="{{ @Logs }}">
								<tr class="gradeA">
									<td>{{ @log.date }}</td>
                                                                        <td>{{ @log.Message }}</td>
                                                                        <td>{{ @log.Actiontype }}</td>
								</tr>
								</F3:repeat>
							</tbody>
							</table>
						</div>
					</div>
			</div>