			<div class="g12 widgets">

				<div class="widget" id="calendar_widget" data-icon="calendar">
					<h3 class="handle">Update Profile</h3>
					<div>
						<form action="{{ @BASE }}/saveProfile" method="post" id="form"  data-ajax="true">
							<fieldset>

								<section><label for="text_field">Name:</label>
									<div><input type="text" id="name" name="name" value="{{ @member->name }}"></div>
								</section>
								<section><label for="text_field">Surname:</label>
									<div><input type="text" id="surname" name="surname" value="{{ @member->surname }}"></div>
								</section>
								<section><label for="text_field">e-mail:</label>
									<div><input type="text" id="email" name="email" value="{{ @member->email }}"></div>
								</section>
								<section><label for="text_field">Phone:</label>
									<div><input type="text" id="gsm" name="gsm" value="{{ @member->gsm }}"></div>
								</section>
                                                                <section><label for="text_field">User Group:</label>
                                                                    <div><input type="text" readonly id="group" name="group" value="UK"></div>
								</section>
								<section><label for="file_upload">File Upload:<br><span>System profile photo <a href="https://en.gravatar.com/" target="_blank">Gravatar</a> with the mapping.</span></label>
									<div><img src="{{ @gravatar}}" alt="" /></div>
								</section>
								<section>
									<div><button class="updateProfile submit" name="submitbuttonname" value="submitbuttonvalue">Update</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>



				<div class="widget" id="calendar_widget" data-icon="calendar">
					<h3 class="handle">Change Password</h3>
					<div>
						<form action="{{ @BASE }}/saveProfile" method="post" id="form"  data-ajax="true">
							<fieldset>

								<section><label for="text_field">Old Password:</label>
									<div><input type="password" id="oldpassword" class="password" name="oldpassword"></div>
								</section>
                                                                <section><label for="text_field">New Password:</label>
									<div><input type="password" id="password" class="password" name="password"></div>
								</section>
                                                                <section><label for="text_field">New Password:</label>
									<div><input type="password" id="comfpassword" class="password" name="comfpassword"></div>
								</section>
								<section>
									<div><button class="updatePassword submit" name="submitbuttonname" value="submitbuttonvalue">Change Password</button></div>
								</section>
							</fieldset>
						</form>
					</div>
				</div>
			</div>