<div id="logo">
	<a href="index.php">Logo Here</a>
</div>
<div id="header">
	<ul id="headernav">
		<li><ul>
			<li><a href="#">Management</a>
				<ul>
					<F3:check if="{{ @checkPermission(@PermissionTypes.addFirm) }}">
					<li><a href="{{ @BASE }}/addCustomer/0">Add New Company</a></li>
					</F3:check>
					<F3:check if="{{ @checkPermission(@PermissionTypes.addSector) }}">
					<li><a href="{{ @BASE }}/addSector">Add New Sector</a></li>
					</F3:check>
					<F3:check if="{{ @checkPermission(@PermissionTypes.admin) }}">
					<li><a href="{{ @BASE }}/addCustomerType">Add New Company Type</a></li>
					</F3:check>
					<F3:check if="{{ @checkPermission(@PermissionTypes.addPublisher) }}">
					<li><a href="{{ @BASE }}/allPublishers/0">New Twitter Users</a></li>
					</F3:check>
					<F3:check if="{{ @checkPermission(@PermissionTypes.admin) }}">
					<li><a href="editPermissions">Edit Permissions</a></li>
					</F3:check>

				</ul>
			</li>
		</ul></li>
	</ul>

</div>