	<ul id="nav">
		<li class="i_house"><a href="{{ @BASE }}/"><span>Home Page</span></a></li>
		<F3:check if="{{ @checkPermission(@PermissionTypes.firms) }}">
		<li class="i_house"><a><span>Firmalar</span></a>
			<ul>
				<li><a href="{{ @BASE }}/allCustomers/a/0"><span>Tüm firmalar</span></a></li>
				<li><a href="{{ @BASE }}/allStatuses"><span>Firma Durumları</span></a></li>
				<li><a href="{{ @BASE }}/allNotes"><span>Firma Notları</span></a></li>

			</ul>
		</li>
		</F3:check>
		<F3:check if="{{ @checkPermission(@PermissionTypes.sectors) }}">
		<li class="i_money"><a><span>Sektörler</span></a>
			<ul>
				<F3:repeat value="{{ @sectors_item }}" group="{{ @sectors }}">
					<li><a href="{{ @BASE }}/allCustomers/s/{{ @sectors_item.id }}"><span>{{ @sectors_item.name }}</span></a></li>
				</F3:repeat>
			</ul>
		</li>
		</F3:check>
		<F3:check if="{{ @checkPermission(@PermissionTypes.salesChannels) }}">
		<li class="i_money"><a><span>Satış Kanalları</span></a>
			<ul>
				<F3:repeat value="{{ @customertype }}" group="{{ @customertypes }}">
					<li><a href="{{ @BASE }}/allCustomers/t/{{ @customertype.ID }}"><span>{{ @customertype.name }}</span></a></li>
				</F3:repeat>
			</ul>
		</li>
		</F3:check>
		<F3:check if="{{ @checkPermission(@PermissionTypes.publishers) }}">
<!--
		<li class="i_users"><a><span>Publishers</span></a>
			<ul>
				<li><a href="{{ @BASE }}/addPublisher"><span>Add Publisher</span></a></li>
                                <li><a href="{{ @BASE }}/addBulkPublisher"><span>Add Multiple Publishers</span></a></li>
                                <li><a href="{{ @BASE }}/SearchPublishers/"><span>Search Publishers</span></a></li>
                                <li><a href="{{ @BASE }}/allPublishers/"><span>All Publishers</span></a></li>
                                
				
			</ul>
		</li>
-->
		</F3:check>
                <F3:check if="{{ @checkPermission(@PermissionTypes.publishers) }}">
<!--
		<li class="i_users"><a><span>Publishers Settings</span></a>
			<ul>
                                <li><a href="{{ @BASE }}/Tags"><span>Tags</span></a></li>
			</ul>
		</li>
-->
		</F3:check>
                <F3:check if="{{ @checkPermission(@PermissionTypes.admin) }}">
<!--
		<li class="i_users"><a><span>Publisher admin</span></a>
			<ul>
				<li><a href="{{ @BASE }}/allPublishers/NULL"><span>all NUll Publishers</span></a></li>
                                <li><a href="{{ @BASE }}/allPublishers/0"><span>all Publishers</span></a></li>

			</ul>
		</li>
-->
		</F3:check>
		<F3:check if="{{ @checkPermission(@PermissionTypes.contacts) }}">
		<li class="i_users"><a><span>contacts</span></a>
			<ul>
				<li><a href="{{ @BASE }}/allContacts"><span>Tum Kişiler</span></a></li>
				<li><a href="{{ @BASE }}/addContact"><span>Yeni Kişi Ekle</span></a></li>

			</ul>
		</li>
		</F3:check>
		<F3:check if="{{ @checkPermission(@PermissionTypes.admin) }}">
		<li class="i_users"><a><span>Products</span></a>
			<ul>
				<li><a href="{{ @BASE }}/allProducts"><span>Tum Ürünler</span></a></li>
				<li><a href="{{ @BASE }}/addProduct"><span>Yeni Ürün Ekle</span></a></li>

			</ul>
		</li>
		</F3:check>
		<F3:check if="{{ @checkPermission(@PermissionTypes.cashFlow) }}">
		<!-- <li class="i_money"><a><span>cash Flow</span></a>
			<ul>
				<li><a href="{{ @BASE }}/cashFlow"><span>Nakit Akış Tablosu</span></a></li>
				<li><a href="{{ @BASE }}/addCashFlow"><span>Nakit Akışı Ekle</span></a></li>

			</ul>
		</li> -->
		</F3:check>


	<li class="i_create_write"><a href="{{ @BASE }}/logOut"><span>Logout</span></a></li>
	</ul>